<div class="content_other">
            <div class="head_con">
                O nas
            </div>
            <div class="about">

                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lorem lacus, commodo eu augue sit amet, feugiat mollis elit. Sed auctor velit convallis, mollis sem a, accumsan risus. Maecenas hendrerit non elit sed lobortis. In luctus venenatis sem eu lacinia. Fusce id leo ante. Donec fringilla bibendum nisi vitae facilisis. Vivamus iaculis, lorem non dignissim malesuada, risus tellus lacinia tortor, quis commodo mi sem et elit. Mauris scelerisque lobortis est, ut ultrices orci dapibus sit amet. In ac gravida nulla. Morbi non enim eget orci sagittis pellentesque.

Mauris imperdiet imperdiet justo at maximus. Etiam tempus porta eros, ut pellentesque tortor lacinia ut. In congue felis vitae mi viverra vehicula. Duis tincidunt maximus sodales. Duis eu sem semper, facilisis metus auctor, ornare libero. Vivamus rhoncus elementum neque nec ornare. Sed nec fermentum dui. Morbi vitae diam ac nibh mollis congue ut sit amet ante.

Fusce tempus ac tortor eu molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis vitae magna vel lacus facilisis fringilla. Donec eget nisl sit amet risus dictum accumsan. Vestibulum mattis tellus magna. Vestibulum ac scelerisque nisl, et varius velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut ac rhoncus lorem. Nullam porttitor quam in tellus sollicitudin dignissim. Curabitur sed efficitur enim. Mauris non felis odio. Nullam tincidunt eget risus dignissim fringilla. Phasellus volutpat vel felis nec mollis. Maecenas varius scelerisque nunc, nec molestie diam faucibus eget. Vivamus bibendum et turpis in ornare. Phasellus ac accumsan lacus, vitae feugiat sapien.  Nullam ut ligula cursus, finibus lectus vel, fringilla quam. Nunc auctor ligula vel lacus dictum interdum. In vitae pharetra dui. Pellentesque at placerat urna. Phasellus convallis tempus lorem a tempus. Etiam nec lorem elementum, pellentesque ipsum eget, suscipit felis. Mauris quis venenatis purus. Integer et luctus libero, at finibus eros. Nam eu tristique mi, dignissim convallis lectus. Cras non eros sed lacus lacinia facilisis. Morbi commodo rutrum porttitor.

Vestibulum nisi diam, dapibus vitae nibh id, pulvinar suscipit neque. Proin id felis volutpat ipsum volutpat auctor. Maecenas nisl mi, rhoncus a dictum quis, tristique in erat. Pellentesque nec elit neque. Nunc ipsum massa, viverra vel tristique nec, imperdiet sed libero. Vivamus et auctor velit, eu convallis ligula. Duis sem urna, euismod at tellus eget, tempus lobortis ante. Aenean velit erat, accumsan non rhoncus non, dapibus vitae neque. Cras euismod laoreet orci. Vivamus commodo, justo quis condimentum vehicula, erat sapien interdum eros, ac dignissim purus mauris vitae magna. Sed lectus dolor, faucibus vel purus ut, egestas mollis nibh. Aliquam eu posuere nulla, eu tristique enim. Nam placerat eros nibh, nec tristique ante sagittis vel. Donec in posuere felis. Nullam nec aliquam dolor. Suspendisse cursus urna vel arcu ullamcorper tincidunt.

            </div>
            </div>
