<div class="content_other">
  <div class="head_con">
    Kontakt
  </div>
  <div class="contact">

    <b>Uniwersytet Ekonomiczny w Krakowie</b><br> ul. Rakowicka 27,<br> 31-510 Kraków<br><br>
    pawilon F, VI p.<br>Sekretariat (p.602) (Katedra Ubezpieczeń)<br>tel: (0-12) 293-50-81<br><br>
    e-mail: <a href="mailto:kuinfo@uek.krakow.pl" title="Wyślij wiadomość">kuinfo@uek.krakow.pl</a><br>e-mail: <a href="mailto:knukrakow@gmail.com" title="Wyślij wiadomość">knukrakow@gmail.com</a>
    </div>
</div>
