<div class="index">
  <div class="content_photo">
    <div class="photo_department"></div>
    <div class="photo_uek"></div>
  </div>
  <div class="content_block">
      <div id="block_one">
        <div class="block_head">APLIKUJ</div>
        <div style="display: table-row;">
          <div class="block_cont">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a efficitur sapien, non ultricies lorem. Aenean ligula velit, gravida nec risus sed, fermentum efficitur eros. Donec id varius ipsum. Duis tempor varius leo at molestie. Pellentesque aliquet ut turpis id tempus.
          </div>
        </div>
    </div>
    <div id="block_two">
      <div class="block_head">APLIKUJ</div>
      <div style="display: table-row;">
        <div class="block_cont">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a efficitur sapien, non ultricies lorem. Aenean ligula velit, gravida nec risus sed, fermentum efficitur eros. Donec id varius ipsum. Duis tempor varius leo at molestie. Pellentesque aliquet ut turpis id tempus.
        </div>
      </div>
    </div>
    <div id="block_three">
      <div class="block_head">APLIKUJ</div>
      <div style="display: table-row;">
        <div class="block_cont">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a efficitur sapien, non ultricies lorem. Aenean ligula velit, gravida nec risus sed, fermentum efficitur eros. Donec id varius ipsum. Duis tempor varius leo at molestie. Pellentesque aliquet ut turpis id tempus.
        </div>
      </div>
    </div>
  </div>
</div>
