/* ***************************** NEWS *********************************************** */
.content_other
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
}
.wrapbox
{
    width: 360px;
    height: 180px;
    float: left;
    margin: 14px;
}
.box
{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition-timing-function: ease;
    transition: opacity 0.5s;
    padding: 10px;
}
.box:hover
{
    opacity: 1;
}
.b_date
{
    color: #24283c;
    font-size: 12px;
}
.b_info
{
    color: #24283c;
    font-size: 13px;
    text-align: left;
}

.content_other {
  .wrapbox {
    h1
    {
        font-weight: bold;
        font-size: 20px;
        color: #E97824;
        transition-timing-function: ease;
        transition: color 0.5s;
    }
    h1:hover
    {
        color: #24283c;
    }
  }
}
.news {
  font-size: 0.9rem;
  .pagination {
    font-size: 12px;
    margin: 20px 20px 0 0;
    float: right;
    span.disabled {
      padding: 2.5px 5px;
      border: 1px solid lighten(black, 40%);
    }
    a.previous_page {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      text-decoration: none;
    }
    a.next_page {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      text-decoration: none;
    }
    em {
      padding: 2.5px 5px;
      border: 1px solid lighten(black, 30%);
      color: lighten(black, 30%);
      font-style: normal;
    }
    a {
      padding: 2.5px 5px;
      border: 1px solid lighten(gray, 20%);
      color: darken(#f5f5f5, 40%);
      &:hover {
        border: 1px solid lighten(black, 30%);
        color: lighten(black, 30%);
        transition-duration: 0.4s;
      }
    }
  }
}
/* ***************************** NEWS END ***************************************** */

/* ***************************** CONTACT ****************************************** */
.contact
{
  line-height: 24px;
  color: #24283c;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: left;
  a {
    color: #24283c;
    &:hover {
      color: lighten(#24283c, 45%);
      transition-duration: 0.3s;
    }
  }
}
/* ***************************** CONTACT END ************************************* */
/* ***************************** ABOUT ********************************************* */
.about
{
  color: #24283C;
  background-image: image-url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: left;
  font-weight: 12px;
  line-height: 22px;
}
/* ***************************** ABOUT ********************************************* */

/* *********************** MAIN PAGE *********************************************** */

.index
{
    color: #24283c;
    font-size: 26px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 622px;
    cursor: default;
}
.content_block
{
  height: 50%;
  width: 100%;
}
.content_photo
{
  width: 100%;
  height: 50%;
}

.photo_department {
  background-image: image-url("budynek_blue.png");
  background-repeat: no-repeat;
  width: 447px;
  height: 301px;
  transition: all 0.5s;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 11px;
  &:hover {
    transition-duration: .25s;
    background-image: image-url("budynek.png");
    box-shadow: 0px 0px 10px 2px gray;
    opacity: 1;
  }
}

.photo_uek {
  background-image: image-url("kat_blue.png");
  background-repeat: no-repeat;
  width: 447px;
  height: 301px;
  float: left;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 15px;
  &:hover{
      transition-duration: .25s;
      background-image: image-url("kat.png");
      box-shadow: 0px 0px 10px 2px gray;
      opacity: 1;
  }
}
/*-------------blocks with information-----------*/
#block_one
{
  width: 300px;
  height: 301px;
  float: left;
  background-color: #B1FE38;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  font-size: 38px;
  transition: all 0.25s;
  display: table;
  transition-timing-function: ease-in-out;
}
#block_two
{
  width: 300px;
  height: 301px;
  float: left;
  background-color: #FED623;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  font-size: 38px;
  transition: all 0.25s;
  display: table;
  transition-timing-function: ease-in-out;
}
#block_three
{
  width: 300px;
  height: 301px;
  float: left;
  background-color: #53B5FC;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  font-size: 38px;
  transition: all 0.25s;
  display: table;
  transition-timing-function: ease-in-out;
}
#block_one:hover
{
  opacity: 0.8;
  font-size: 20px;
}
#block_two:hover
{
  opacity: 0.8;
  font-size: 20px;
}
#block_three:hover
{
  opacity: 0.8;
  font-size: 20px;
}
.block_cont
{
    display: none;
    font-size: 14px;
    text-align: center;
}
#block_one:hover .block_cont
{
  display: table-cell;
}
#block_two:hover .block_cont
{
  display: table-cell;
}
#block_three:hover .block_cont
{
  display: table-cell;
}
.block_head
{
  text-align: center;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}
/* *********************** MAIN PAGE *********************************************** */

#preloadedImages {
  width: 0;
  height: 0;
  display: inline;
  background-image: image-url("kat.png");
  background-image: image-url("budynek.png");
  background-image: url();
}
