<div class="footer">
  <div class="foot_wrap">
    <div class="foot_pict"></div>
      <div class="foot_text_wrap">
        <div class="foot_text">
          Copyright &copy; Koło Naukowe Ubezpieczeń Risk Management 2016
        </div>
      </div>
    </div>
  </div>
</div>
